
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="nk-content ">
    <div class="container-fluid">
        <div class="nk-content-inner">
            <div class="nk-content-body">
                <div class="nk-block">
                    <div class="card card-bordered">
                        <div class="card-aside-wrap">
                            <div class="card-inner">
                                <div class="nk-block">
                                    <div class="nk-block-head">
                                        <div>
                                            <ul class="nav nav-tabs nav-tabs-mb-icon nav-tabs-card">
                                                <li class="nav-item"> 
                                                </li>
                                            </ul>
                                        </div>
                                        <div id="dvMsgSuccess" class="tb-status text-success" style="text-align:center; font-weight:bold">
                                            @ViewBag.SuccessMessage
                                        </div>
                                        <div id="dvMsg" class="tb-status text-danger" style="text-align: center; font-weight: bold">
                                            @ViewBag.Message
                                        </div>
                                    </div><!-- .nk-block-head -->
                                    <div class="nk-block-head nk-block-head-line mt-3 mb-2">
                                         
                                    </div>

                               
                                </div><!-- .nk-block -->
                            </div><!-- .card-content -->
                            <!-- .nav-tabs -->
                        </div><!-- .card-aside-wrap -->
                    </div><!-- .card -->
                </div><!-- .nk-block -->
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="~/Content/assets/js/userscripts.js"></script>
