@model MyPay.Models.Add.AddAdmin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="nk-content logocenter">
    <img src="/Content/images/logo-dark2x.png" />

</div>

<input type="hidden" id="input_hidden_elemsDate" name="input_hidden_elemsDate" value="" />
<input type="hidden" id="input_hidden_elemsDebitTransactions" name="input_hidden_elemsDebitTransactions" value="" />
<input type="hidden" id="input_hidden_elemsCreditTransactions" name="input_hidden_elemsCreditTransactions" value="" />
<script type="text/javascript" src="~/Content/assets/js/dashboard.js"></script>
<script>

</script>
<style>
    .clickheredashboard {
        width: auto;
        float: right;
    }

    .logocenter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
        margin-top: 0px;
    }
</style>