@model MyPay.Models.Request.Req_AdminLogin
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./images/favicon.png">
    <!-- Page Title  -->
    <title>MyPay Admin</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/content/assets/css/dashlite.css?ver=2.9.1">
    <link id="skin-default" rel="stylesheet" href="/content/assets/css/theme.css?ver=2.9.1">
</head>
<body class="nk-body bg-gradient npc-general pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body  wide-xs">
                        <div class="brand-logo pb-4 text-center mb-4 mt-4">
                            <a href="javascript:void(0);" class="logo-link">

                                <img class="logo-dark logo-img logo-img-lg" src="/content/images/logo.png" srcset="./images/logo2x.png 2x" alt="logo-dark">
                            </a>
                        </div>
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <a class="link link-primary link-sm" href="/AdminLogin/" style="float:right;">Back</a>
                                    <div class="nk-block-head-content">
                                        <p>
                                            <h4 class="nk-block-title">Forgot Your Password?</h4>
                                        </p>
                                        <div class="nk-block-des">
                                            <p>
                                                Please enter your email address to receive an OTP to reset your password.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <form id="frm1" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="form-label-group">
                                            <label class="form-label" for="default-01">Email ID</label>
                                        </div>
                                        <div class="form-control-wrap">
                                            @Html.TextBox("Email", "", new { @Class = "form-control form-control-lg", autocomplete = "off", placeholder = "Enter your email address" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Send Reset Link" />
                                    </div>
                                    <div class="form-group" style="color:red">
                                        @ViewBag.Message
                                    </div>
                                    <div class="form-group" style="color:green">
                                        @ViewBag.SucceessMessage
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div class="nk-footer bg-transparent no-bdr">
                        <div class="container-fluid">
                            <div class="nk-footer-wrap">
                                <div class="nk-footer-copyright text-white">
                                    &copy; 2022 MyPay.
                                </div>
                                <div class="nk-footer-links">
                                    <ul class="nav nav-sm">
                                        <li class="nav-item dropup">
                                            <a herf="#" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-white" data-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                <ul class="language-list">
                                                    <li>
                                                        <a href="javascript:void(0);" class="language-item">
                                                            <span class="language-name">English</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="language-item">
                                                            <span class="language-name">Español</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="language-item">
                                                            <span class="language-name">Français</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:void(0);" class="language-item">
                                                            <span class="language-name">Türkçe</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript -->
    <!-- JavaScript -->
    <script src="/content/assets/js/bundle.js?ver=2.9.1"></script>
    <script src="/content/assets/js/scripts.js?ver=2.9.1"></script>

</body>

</html>