
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateData</title>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 5000);

    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
