<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="MyPay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="WebPrefix" value="https://mypay.xpressewa.com/" />
		<add key="IsProduction" value="0" />
		<add key="IsDevelopmentMachine" value="1" />
		<add key="ResendOTPTime" value="60" />
		<add key="AdminEmail" value="projectlead@webcomsystems.com.au" />
		<add key="BCC" value="tushar@webcomsystems.com.au" />
		<add key="BCC2" value="" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="DuplicateMinutesCheck" value="5" />
		<add key="APISessionTimeout" value="5040" />
		
		<add key="Origins" value="*" />
		<add key="Methods" value="*" />
		<add key="Headers" value="*" />


	</appSettings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="AdminLogin/Index"></forms>
		</authentication>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime enableVersionHeader="false" targetFramework="4.7.2" useFullyQualifiedRedirectUrl="true" maxRequestLength="1048576" requestLengthDiskThreshold="8192" executionTimeout="108000" shutdownTimeout="108000" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.9.0.0" newVersion="1.9.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-108.0.2.0" newVersion="108.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:latest /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:latest /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<connectionStrings>

	
		<!--PRODUCTION-->
		<!--<add name="connectionstring" connectionString="Data Source=10.131.0.77;Initial Catalog=MyPayWebcom1;Integrated Security=false;USER ID=sa; Password=bS9[/Hj_ZB#2022=Master" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.131.0.77;initial catalog=MyPayWebcom1;integrated security=False;user id=sa;password=bS9[/Hj_ZB#2022=Master;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="connectionstringRemittance" connectionString="Data Source=localhost;Initial Catalog=MyPayRemittanceWebcomTest;Integrated Security=false;USER ID=sa; Password=hw3`*HLBm1Awn85A" providerName="System.Data.SqlClient" />

		<add name="connectionstringtest" connectionString="Data Source=10.131.0.77;Initial Catalog=MyPayWebcom1;Integrated Security=false;USER ID=sa; Password=bS9[/Hj_ZB#2022=Master" providerName="System.Data.SqlClient" />
		<add name="MyPayEntitiestest" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.131.0.77;initial catalog=MyPayWebcom1;integrated security=False;user id=sa;password=bS9[/Hj_ZB#2022=Master;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

		<add name="connectionstringSlave" connectionString="Data Source=10.131.0.77;Initial Catalog=MyPayWebcom1;Integrated Security=false;USER ID=sa; Password=bS9[/Hj_ZB#2022=Master" providerName="System.Data.SqlClient" />
		<add name="MyPayEntitiesSlave" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.131.0.77;initial catalog=MyPayWebcom1;integrated security=False;user id=sa;password=bS9[/Hj_ZB#2022=Master;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!-- ABDUL LOCAL -->
		<!--<add name="connectionstringremittance" connectionString="data source=MYPAYDOTNET06\MYPAYMSSQLSERVER;initial catalog=MyPayWebcom1;integrated security=false;user id=sa; password=mssqlserver@1234567890" providerName="system.data.sqlclient" />
		<add name="connectionstringslave" connectionString="data source=MYPAYDOTNET06\MYPAYMSSQLSERVER;initial catalog=MyPayWebcom1;integrated security=false;user id=sa; password=mssqlserver@1234567890" providerName="system.data.sqlclient" />
		<add name="connectionstring" connectionString="data source=MYPAYDOTNET06\MYPAYMSSQLSERVER;initial catalog=MyPayWebcom1;integrated security=false;user id=sa; password=mssqlserver@1234567890" providerName="system.data.sqlclient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYPAYDOTNET06\MYPAYMSSQLSERVER;initial catalog=MyPayWebcom1;integrated security=false;user id=sa;password=mssqlserver@1234567890;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!-- STAGING -->
		<!--<add name="connectionstringRemittance" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->



		<!-- ROSHAN LOCAL -->
		<!--<add name="connectionstringRemittance" connectionString="Data Source=MYPAYDOTNET08\MYPAY_ROSHAN;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=Met@llic20102010" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=MYPAYDOTNET08\MYPAY_ROSHAN;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=Met@llic20102010" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=MYPAYDOTNET08\MYPAY_ROSHAN;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=Met@llic20102010" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MYPAYDOTNET08\MYPAY_ROSHAN;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=Met@llic20102010;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->



		<!-- STAGING DB FROM LOCAL -->
		<!--<add name="connectionstringRemittance" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


		<!--<add name="connectionstringRemittance" connectionString="Data Source=MYPAYDOTNET11;Initial Catalog=MyPayWebcomTest;Integrated Security=false; Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=MYPAYDOTNET11;Initial Catalog=MyPayWebcomTest;Integrated Security=false;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=MYPAYDOTNET11;Initial Catalog=MyPayWebcomTest;Integrated Security=false;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MYPAYDOTNET11;initial catalog=MyPayWebcomTest;integrated security=False;Trusted_Connection=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		
		
		

		
		<!--Kiran-->
		<!--<add name="connectionstringRemittance" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


		<!-- HARI -->
		<!--<add name="connectionstringRemittance" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MyPayWebcomTest;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->


		<!-- STAGING DB FROM LOCAL -->
		<add name="connectionstringRemittance" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstringSlave" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="connectionstring" connectionString="Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l" providerName="System.Data.SqlClient" />
		<add name="MyPayEntities" connectionString="metadata=res://*/MyPay.csdl|res://*/MyPay.ssdl|res://*/MyPay.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.234;Initial Catalog=MyPayWebcomTest;Persist Security Info=True;User ID=sa;Password=MyP@y#2023%N3P@l;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		
		
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v15.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<!--<modules>
			<add name="StaticCORSEnabler" type="StaticCORSEnabler"/>
		</modules>-->
		
		<httpProtocol>
			<!--<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="secret-key" value="*" />
			</customHeaders>-->

			<!--<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
				<add name="Access-Control-Allow-Methods" value="*" />
				<add name="Access-Control-Allow-Headers" value="*" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="secret-key" value="*" />
			</customHeaders>-->
			<customHeaders>
				<add name="X-Frame-Options" value="DENY" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
				<add name="Access-Control-Allow-Headers" value="UToken,secret,API_KEY,secret-key" />
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="secret-key" value="*" />
			</customHeaders>
		</httpProtocol>
		
	</system.webServer>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="UnitedSolutionsPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://dev.usbooking.org:80/us/UnitedSolutions" binding="basicHttpBinding" bindingConfiguration="UnitedSolutionsPortBinding" contract="PlasmaTechUnitedSolutions.UnitedSolutions" name="UnitedSolutionsPort" />
		</client>
	</system.serviceModel>
	<applicationSettings>
		<MyPay.Properties.Settings>
			<setting name="MyPay_org_usbooking_dev_UnitedSolutionsService" serializeAs="String">
				<value>http://dev.usbooking.org:80/us/UnitedSolutions</value>
			</setting>
		</MyPay.Properties.Settings>
	</applicationSettings>
</configuration>
