<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>KhanePani</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: #666;
        }

        .table2 tbody tr td {
            padding: 0px 10px;
        }

        .table2 thead tr th {
            padding: 0px 10px;
        }

        .table-border {
            border: 1px solid #000;
            /*border-collapse: collapse;*/
        }

        table.table-border th,
        table.table-border td {
            padding: .5em !important;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        @media only screen and (max-width:767px) {
            table.mobile-table tbody tr td {
                display: block;
                width: 100%;
            }

            table.mobile-table-new tbody tr td {
                display: block;
                width: 100%;
            }

            .mob-table-cell tbody tr td {
                display: table-cell !important;
                vertical-align: inherit !important;
            }

            .mob-table-mt {
                margin-top: 30px;
            }

            .mob-social tbody tr td {
                padding: 0 !important;
            }

            h2.mob-title1 {
                font-size: 24px !important;
                line-height: 26px !important;
            }

            h2.mob-title2 {
                font-size: 20px !important;
                line-height: 26px !important;
            }

            .mob-col-padding {
                padding: 0 15px !important;
            }

            th.mob-font16 {
                font-size: 16px !important;
            }

            p.nepal-title {
                font-size: 16px !important;
                line-height: 19px !important;
                margin-left: 6px !important;
            }

            img.nepal-logo {
                width: 70px;
                height: 70px;
            }
        }
    </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; font-family: Arial, Helvetica, sans-serif; color:#fff;">
    <center style="width: 100%; height: 100%; background-color: #fff;">
        <div style="max-width: 1000px; margin: 0 auto;">
            <!-- BEGIN BODY -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto; background-color:#fff">
                <tr>
                    <td valign="top" style="padding:2em 0;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="10" width="100%" style="">
                            <tr>
                                <td width="420" style="text-align:left;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 250px;">
                                        <tr>
                                            <td><img src="##Khanepani_IMAGE_ICON##" width="80px" height="80px" class="nepal-logo"></td>
                                            <td>
                                                <p class="nepal-title" style="color: #333; font-size: 18px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 10px 0px; line-height: 24px;">Nepal Water Supply <span style="display:block;">Corporation</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="text-align:left;">
                                    <a href="##LiveURL##" target="_blank"><img src="##LogoImage##" style="max-width: 140px;"></a>
                                    <h1 style="color: #333; font-size: 16px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:10px 0px 0px 0px; line-height: 18px;">Payment Receipt</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0 0 0em 0;">
                        <table border="0" cellpadding="0" cellspacing="10" width="100%" style="" class="mobile-table-new">
                            <tr>
                                <td>
                                    <p style="color: #333; font-size: 16px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Txn ID: <span style="font-weight: 600;">##TxnId##</span></p>
                                </td>
                                <td>
                                    <p style="color: #333; font-size: 16px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Date: <span style="font-weight:400;">##Date##</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="table-border mob-table-cell">
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Customer Name:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##CustomerName##</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Customer ID:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##CustomerId##</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Address:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##Address##</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Reference no.:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##RefNumber##</td>
                                        </tr>

                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Paid Date:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;"><span>##PaidDate##</span></td>
                                        </tr>
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Paid By:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##PaidBy##</td>
                                        </tr>
                                        <tr>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-bottom: 0;">Total Due Amount:</td>
                                            <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0; border-bottom: 0;">Rs. ##TotalDueAmount##</td>
                                        </tr>
                                    </table>
                                </td>
                                <!---right Table start---->
                                <td valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="" class="table-border mob-table-cell mob-table-mt">
                                        <thead>
                                            <tr>
                                                <th style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left;">Due Date</th>
                                                <th style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left;">Bill Amount</th>
                                                <th style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left;">Rebate(R)/ Fine(F)</th>
                                                <th style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left; border-right: 0;">Payable Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            ##DueBillsRow##
                                            <tr>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Advance:</td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;" colspan="2"></td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##KhanepaniAdvance##</td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Service Charge:</td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;" colspan="2"></td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;">##ServiceCharge##</td>
                                            </tr>
                                            <tr>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-bottom: 0;">Total Paid Amount</td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-bottom: 0;" colspan="2"></td>
                                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-bottom: 0; border-right: 0;">##TotalBillAmount##</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--  <tr>
                                  <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Transaction Status</td>
                                  <td style="color: #378d5c; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Bill Paid Successfully</td>
                            </tr> -->
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0px 0px 2em 0;">
                        <table border="0" cellpadding="0" cellspacing="10" width="100%" style="">
                            <tr>
                                <td width='130' style="color: #333; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Transaction Status: <span style="color:##TXNCOLOR##"> ##TxnStatus## </span></td>
                                <td style="color: green; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0px 0px 2em 0;">
                        <table border="0" cellpadding="0" cellspacing="10" width="100%" style="">
                            <tr>
                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><span style="display:block;">...................................</span> <span style="display:block; font-weight: 600;">Customer Signature</span></td>
                                <td style="color: #333; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: right;"><span style="display:block;">.................................</span> <span style="display:block; font-weight: 600;">Approval Signature</span></td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
            </table>
        </div>
    </center>
</body>

</html>