<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Payment Receipt</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: "Times New Roman", Times, serif;
        }

        a {
            color: #333;
        }

        .table {
            width: 100%;
            color: #333;
            border: 1px solid #dee2e6;
            margin: 20px 0px;
            padding: 10px;
        }

            .table td, .table th {
                padding: 0.3rem 1rem;
                vertical-align: top;
            }

        @media only screen and (max-width:767px) {
            table.mobile-table tbody tr td {
                display: block;
                width: 100%;
                padding-left: 0px !important;
            }

            .mob-social tbody tr td {
                padding: 0 !important;
            }

            h2.mob-title1 {
                font-size: 24px !important;
                line-height: 26px !important;
            }

            h2.mob-title2 {
                font-size: 20px !important;
                line-height: 26px !important;
            }

            .mob-col-padding {
                padding: 0 15px !important;
            }
        }
    </style>
</head>
<body width="100%" style="margin: 0; padding: 0 !important; font-family: 'Times New Roman', Times, serif; font-weight: 400; color:#fff;">
    <center style="width: 100%; height: 100%; background-color: #fff;">
        <div style="max-width: 600px; margin: 0 auto;">
            <!-- BEGIN BODY -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto; background-color:#fff">
                <tr>
                    <td valign="top" style="padding:2em 0;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" style="">
                            <tr>
                                <td style="text-align:center;">
                                    <a href="##LiveUrl##" target="_blank"><img src="##LogoImage##" /></a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0px 30px 20px;">
                        <table width="100%">
                            <tr>
                                <td>
                                    <div class="mob-col-padding" style="padding: 0 0em; text-align: center;">
                                        <h2 class="mob-title1" style="margin-top:0px; margin-bottom: 15px; font-size: 28px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; line-height: 37px; color:#111;">Payment Receipt</h2>
                                        <p style="color: #333; font-size: 14px; margin:0px; font-weight: 700; padding:0px 0px 20px 0px; text-align: center;">Date: <span style="font-weight: 400;">##TransactionDate##</span></p>
                                    </div>
                                    <table width="100%" class="table table-bordered">
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Transaction Id:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TransactionId##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Transaction Date:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TransactionDate##</td>
                                        </tr>
                                        <!--<tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Consumer TransactionId:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##ConsumerTransactionId##</td>
                                        </tr>-->
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Amount:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">Rs. ##Amount##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>From:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##From##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>To:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##To##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Transaction Type:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TransactionType##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Transaction Service:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TransactionService##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Transaction Status:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TransactionStatus##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Cashback:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##Cashback##</td>
                                        </tr>
                                        <tr valign="top" style="display:##mypaycoins_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>MyPay Coins Credited:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##MyPayCoinsCredited##</td>
                                        </tr>
                                        <tr valign="top" style="display: ##mypaycoins_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>MyPay Coins Debited:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##MyPayCoinsDebited##</td>
                                        </tr>
                                        <tr valign="top" style="display:##bankdetails_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Bank Name:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##BankNAME##</td>
                                        </tr>
                                        <!--<tr valign="top" style="display:##bankdetails_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Bank Branch Name:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##BankBRANCHNAME##</td>
                                        </tr>-->
                                        <tr valign="top" style="display: ##bankdetails_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Bank Account No:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##BankACCOUNTNO##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Service Charge:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##ServiceCharge##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Total Amount:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##TotalAmount##</td>
                                        </tr>
                                        <tr valign="top" style="display:##datapack_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Product Type:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##ProductType##</td>
                                        </tr>
                                        <tr valign="top" style="display:##datapack_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Product Name:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##ProductName##</td>
                                        </tr>
                                        <tr valign="top" style="display:##datapack_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Validity:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##Validity##</td>
                                        </tr>
                                        <tr valign="top" style="display:##electricity_nea_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Consumer Name:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##NEAConsumer_Name##</td>
                                        </tr>
                                        <tr valign="top" style="display:##electricity_nea_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>SC No :</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##NEASC_NO##</td>
                                        </tr>
                                        <tr valign="top" style="display:##electricity_nea_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Consumer Id:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##NEACustomer_Id##</td>
                                        </tr>
                                        <tr valign="top" style="display:##electricity_nea_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Counter:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##NEACounter##</td>
                                        </tr>
                                        <tr valign="top">
                                            <td style="color:#333; font-size: 14px; text-align:left;"><strong>Remarks:</strong> </td>
                                            <td style="color:#333; font-size: 14px;  text-align:left;">##Remarks##</td>
                                        </tr>
                                        <tr valign="top" style="display:##electricity_nea_styledisplay##">
                                            <td style="color:#333; font-size: 14px; text-align:left;" colspan="2">
                                                ##NEA_DUE_BILLS##
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:10px 10px 10px;">
                        <table width="100%">
                            <tr>
                                <td valign="top" width="50%">&nbsp</td>
                                <td valign="top" style="color:#333; font-size: 14px; font-weight:400; text-align: right;"><strong>Signature:</strong>___________________________</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="middle" style="background:#fff; padding:1em;">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <div class="mob-col-padding" style="padding: 0 2em; text-align: center; margin-top: 15px;">
                                        <div style="margin-bottom:10px;">
                                            <span style="color: #333; font-weight: 300; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin:0px; padding:0px 0px 0px 0px; margin-right: 10px;">
                                                <a href="tel:16600162000" style="text-decoration: none; color: #333; font-weight: 700; margin-right:5px;">##tel1##</a> |
                                                <a href="tel:015907481" style="text-decoration: none; color: #333; font-weight: 700; margin-left: 5px; margin-right:5px;">##tel2##</a> |
                                                <a href="tel:015907482" style="text-decoration: none; color: #333; font-weight: 700; margin-left:5px;">##tel3##</a> |
                                                <a href="tel:015970139" style="text-decoration: none; color: #333; font-weight: 700; margin-left:5px;">##tel4##</a>
                                            </span> <br>
                                            <span style="color: #333; font-weight: 700; font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin:0px; padding:0px 0px 0px 0px; margin-top:5px; display: inline-block;">
                                                <a href="mailto::##WebsiteEmail##" style="text-decoration: none; color: #333; margin-left:0px;">##WebsiteEmail##</a>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </center>
</body>
</html>