<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PDF</title>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: #000;
        }

        .table2 tbody tr td {
            padding: 0px 10px;
        }

        .table2 thead tr th {
            padding: 0px 10px;
        }

        .table-border {
            border: 1px solid #000;
            /*border-collapse: collapse;*/
        }

        table.table-border th,
        table.table-border td {
            padding: .5em !important;
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        @media only screen and (max-width:767px) {
            table.mobile-table tbody tr td {
                display: block;
                width: 100%;
            }

            table.mobile-table-new tbody tr td {
                display: block;
                width: 100%;
            }

            .mob-table-cell tbody tr td {
                display: table-cell !important;
                vertical-align: inherit !important;
            }

            .mob-table-mt {
                margin-top: 30px;
            }

            .mob-social tbody tr td {
                padding: 0 !important;
            }

            h2.mob-title1 {
                font-size: 24px !important;
                line-height: 26px !important;
            }

            h2.mob-title2 {
                font-size: 20px !important;
                line-height: 26px !important;
            }

            .mob-col-padding {
                padding: 0 15px !important;
            }

            th.mob-font16 {
                font-size: 16px !important;
            }

            p.nepal-title {
                font-size: 16px !important;
                line-height: 19px !important;
                margin-left: 6px !important;
            }

            img.nepal-logo {
                width: 70px;
                height: 70px;
            }
        }
    </style>
</head>

<body width="100%" style="margin: 0; padding: 0 !important; font-family: Arial, Helvetica, sans-serif; color:#fff;">
    <center style="width: 100%; height: 100%; background-color: #fff;">
        <div style="max-width: 1024px; margin: 0 auto;">
            <!-- BEGIN BODY -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto; background-color:#fff">
                <tr>
                    <td valign="top" style="padding:2em 0;">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="10" width="100%" style="">
                            <tr>

                                <td colspan="2" style="text-align:center;">
                                    <a href="##LiveUrl##" target="_blank"><img src="##LogoImage##" style="max-width: 160px;"></a>
                                    <h1 style="color: #111; font-size: 16px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:10px 0px 0px 0px; line-height: 18px;">User Electronic Statement</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0 0 0em 0;">
                        <table border="0" cellpadding="0" cellspacing="10" width="100%" style="" class="mobile-table-new">
                            <tr>
                                <td style="text-align: left;">
                                    <p style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><span style="width: 100px; display: inline-block;">Wallet Name:</span> <span style="font-weight: 700;">##WalletName##</span></p>
                                </td>
                                <td style="text-align: right; margin-right:10px;">
                                    <p style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><span style="width: 50px; display: inline-block; text-align: left;">From:</span> <span style="font-weight:700;">##FromDate##</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left;">
                                    <p style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><span style="width: 100px; display: inline-block;">Wallet ID:</span> <span style="font-weight: 700;">##WalletId##</span></p>
                                </td>
                                <td style="text-align: right; margin-right: 10px;">
                                    <p style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><span style="width: 50px; display: inline-block; text-align: left;">To:</span> <span style="font-weight:700;">##ToDate##</span></p>
                                </td>
                            </tr>
                            <tr>

                                <!---right Table start---->
                                <td valign="top" colspan="2">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="" class="table-border mob-table-cell mob-table-mt">
                                        <thead>
                                            <tr>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 3%;">S.N.</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 12%;">Date</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 13%;">Transaction ID</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 37%;">Transaction Details</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 10%;">Debit (Rs.)</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 10%;">Credit (Rs.)</th>
                                                <th style="color: #111; font-size: 14px; margin:0px; font-weight: 600; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; border-right: 0; width: 15%;">Balance (Rs)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            ##TransactionList##
                                            <!--<tr>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: right; width: 5%;">1</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left; width: 10%;">
                                                    <div>28/11/2022</div>
                                                    <div>11:05:25</div>
                                                </td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;  text-align: center; width: 15%;"></td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left; width: 31%;">Closing Balance……….</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 12%;">-</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 12%;">-</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 700; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;text-align: center; width: 15%;">60.30</td>
                                            </tr>
                                            <tr>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: right; width: 5%;">2</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left; width: 10%;">
                                                    <div>28/11/2022</div>
                                                    <div>11:05:25</div>
                                                </td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;  text-align: center; width: 15%;">[101212121]</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: left; width: 31%;">Cashback: Cashback from vianet bills payment </td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 12%;">-</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; text-align: center; width: 12%;">-</td>
                                                <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px; border-right: 0;text-align: center; width: 15%;">60.30</td>
                                            </tr>-->
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <!--  <tr>
                                  <td style="color: #111; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Transaction Status</td>
                                  <td style="color: #378d5c; font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;">Bill Paid Successfully</td>
                            </tr> -->
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <tr>
                    <td valign="top" style="padding:0px 0px 2em 0;">
                        <table border="0" cellpadding="0" cellspacing="10" width="100%" style="">
                            <tr>
                                <td style="color: rgb(224, 9, 9); font-size: 14px; margin:0px; font-weight: 400; font-family: Arial, Helvetica, sans-serif; padding:0px 0px 0px 0px; line-height: 18px;"><strong>Note*:</strong> This e-statement is automatically generated and is intended for personal reference purpose only.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <!-- end tr -->
                <!-- end tr -->
            </table>
        </div>
    </center>
</body>

</html>